@import './src/styles/_variables.scss';

.close-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    
    svg {
        width: 15px;
        height: 15px;
        fill: $textSecondary;
    }
}

.lds-dual-ring {
    width: 64px;
    height: 64px;
    margin: 5rem auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $black;
    border-color: $black transparent $black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }