@import './src/styles/variables.scss';

html {
    position:relative;
    min-height:100vh;
    font-size: 16px;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color: transparent; 
    -ms-overflow-style: scrollbar;
}
body {
    font-family: 'Quattrocento Sans', sans-serif; 
    color: $black;
    margin:0;
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #231F20;
    
    &:hover {
        text-decoration: none;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

input,
textarea,
button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

input,
textarea,
button {
    &:focus {
        outline: none;
    }
}

textarea {
    resize: none;
}

button {
    font-size: inherit;
}

nav li {
    display: inline-block;
    margin-left: 1.5rem;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;

    a {
        color: #fff;
    }
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:focus, .btn:hover {
    text-decoration: none; }
.btn.focus {
    text-decoration: none; }
.btn:active, .btn.active {
    background-image: none;
    outline: 0; }
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65; }


.btn-primary {
color: #fff;
background-color: $green;
border-color: $green; }
.btn-primary:hover {
color: #fff;
background-color: $darkGreen;
border-color: $darkGreen; }
.btn-primary:focus, .btn-primary.focus {
color: #fff;
background-color: #449d44;
border-color: #419641; }
.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
color: #fff;
background-color: #449d44;
border-color: #419641;
background-image: none; }
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
color: #fff;
background-color: #398439;
border-color: #2d672d; }
.btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
background-color: #5CB85C;
border-color: #5CB85C; }
.btn-primary.disabled:hover, .btn-primary:disabled:hover {
background-color: #5CB85C;
border-color: #5CB85C; }

.btn-secondary {
color: #373a3c;
background-color: #fff;
border-color: #ccc; }
.btn-secondary:hover {
color: #373a3c;
background-color: #e6e6e6;
border-color: #adadad; }
.btn-secondary:focus, .btn-secondary.focus {
color: #373a3c;
background-color: #e6e6e6;
border-color: #adadad; }
.btn-secondary:active, .btn-secondary.active,
.open > .btn-secondary.dropdown-toggle {
color: #373a3c;
background-color: #e6e6e6;
border-color: #adadad;
background-image: none; }
.btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus,
.open > .btn-secondary.dropdown-toggle:hover,
.open > .btn-secondary.dropdown-toggle:focus,
.open > .btn-secondary.dropdown-toggle.focus {
color: #373a3c;
background-color: #d4d4d4;
border-color: #8c8c8c; }
.btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary:disabled:focus, .btn-secondary:disabled.focus {
background-color: #fff;
border-color: #ccc; }
.btn-secondary.disabled:hover, .btn-secondary:disabled:hover {
background-color: #fff;
border-color: #ccc; }

.btn-info {
color: #fff;
background-color: #5bc0de;
border-color: #5bc0de; }
.btn-info:hover {
color: #fff;
background-color: #31b0d5;
border-color: #2aabd2; }
.btn-info:focus, .btn-info.focus {
color: #fff;
background-color: #31b0d5;
border-color: #2aabd2; }
.btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
color: #fff;
background-color: #31b0d5;
border-color: #2aabd2;
background-image: none; }
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
color: #fff;
background-color: #269abc;
border-color: #1f7e9a; }
.btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info:disabled:focus, .btn-info:disabled.focus {
background-color: #5bc0de;
border-color: #5bc0de; }
.btn-info.disabled:hover, .btn-info:disabled:hover {
background-color: #5bc0de;
border-color: #5bc0de; }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}