.text-tiny {
    font-size: .8rem;
}
.text-secondary {
    color: #484848;
}
.text-italic {
    font-style: italic;
}
.text-left {
text-align: left !important; }

.text-right {
text-align: right !important; }

.text-center {
text-align: center !important; }

.text-justify {
text-align: justify !important; }
.light {
    font-weight: 300;
}
.bold {
    font-weight: 600;
}
.cursor-pointer {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
  
p {
    margin-top: 0;
    margin-bottom: 1rem; }

.link {
    cursor: pointer;
    text-decoration: underline;
    color: $navy;
}

.input-wrapper.inline-input {
    position: relative;
    display: flex;
    align-items: center;

    .form-label {
        white-space: nowrap;
        margin-bottom: 0;
        margin-right: 7.5px;
    }
}

