/// original
$white: #fff;
$black: #222629;
$lightGrey: #f7f7f7;
$grey: #6B6E70;
$darkGrey: #474B4F;
$borderGrey: #ebebeb;
$primary: #86C232;
$secondary: #6bac0f;
$error: #d72b3f;
$textSecondary: #484848;
$navy: #323648;
$boxShadow: #d4d4d5;

///loud 
// $white: #fff;
// $black: #222629;
// $lightGrey: #f7f7f7;
// $grey: #6B6E70;
// $darkGrey: #474B4F;
// $borderGrey: #ebebeb;
// $primary: #f070a1;
// $secondary: #16ffbd;
// $error: #d72b3f;
// $textSecondary: #484848;
// $navy: #323648;
// $boxShadow: #d4d4d5;


/// 4. cool and fresh
// $white: #edf5e1;
// $black: #05386b;
// $lightGrey: #f7f7f7;
// $grey: #6B6E70;
// $darkGrey: #474B4F;
// $borderGrey: #ebebeb;
// $primary: #5cdb95;
// $secondary: #5CDB95;

/// 28
// $white: #faed26;
// $black: #0b0c10;
// $lightGrey: #9d8d8f;
// $grey: #5a5560;
// $darkGrey: #474B4F;
// $borderGrey: #ebebeb;
// $primary: #faed26;
// $secondary: #46344e;


/// 48
// $white: #fff;
// $black: #0f292f;
// $lightGrey: #f7f7f7;
// $grey: #cccccc;
// $darkGrey: #474B4F;
// $borderGrey: #ebebeb;
// $primary: #cb2d6f;
// $secondary: #14a098;



