.activity {
    .title {
        margin: 2rem 0;
        font-size: 2rem;
    }

    .table {
        max-width: 650px;
        margin: 2rem auto;
    }
    
    .date {
        margin: 0;
    }
    .no-activity {
        display: none;
        padding: 7rem 3rem;
    
        &.show {
            display: block;
        }
    }
}
.activity-item {
    .comment {
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
    }
}