.activity {
    .title {
        margin: 1rem;
        font-size: 2rem;
    }
    .date {
        margin: 0;
    }
    .no-activity {
        display: none;
        padding: 7rem 3rem;
    
        &.show {
            display: block;
        }
    }
}
.activity-item {
    .comment {
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
    }

    span {
        padding: 0 2rem;
    }
}