@import '../../styles/_variables.scss';

.activity {
    margin: 2rem 0;

    &.following {
        max-width: 650px;
    }
    .subtitle {
        border-bottom: 1px solid $borderGrey;
        margin-bottom: 1.5rem;
    }
    .title {
        font-size: 2rem;
    }

    .table {
        max-width: 650px;
        margin: 2rem auto;
    }

    td {
        span {
            margin-right: 35px;
        }
    }
    
    .date {
        margin: 0;
    }
    .no-activity {
        display: none;
        padding: 7rem 3rem;
    
        &.show {
            display: block;
        }
    }
}
.activity-item {
    .comment {
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
    }
}