@import '../../styles/variables.scss';

.bookmark-icon {
    height: 24px;
    width: 24px;
    position: relative;
    min-width: 0;
    margin: 0 5px;
    opacity: .38;

    &.active {
        opacity: 1;
    }

    span {
        position: absolute;
        bottom: -10px;
        font-size: .6rem;
        right: 0;
    }
}