.dashboard-chat {
  position: fixed;
  right: 0;
  top: 82px;
  bottom: 66px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateX(400px);
  z-index: 99;
  transition: transform .2s; }
  .dashboard-chat.open {
    transform: none; }

.hide-message {
  display: none; }

.close-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
  right: 10px;
  top: 10px; }
  .close-icon svg {
    width: 20px;
    height: 20px; }

.comment-list .comment {
  margin: .5rem 0; }

.comment-list h4 {
  margin-bottom: 0;
  line-height: 20px;
  color: #6bac0f; }

.comment-list h5 {
  font-weight: 300; }

.comment-list p {
  margin: 1rem 0 0 0; }

.comment-list .user-photo {
  float: left;
  margin-right: 10px; }

.add-comment {
  display: flex;
  text-align: right;
  margin-top: 2rem; }
  .add-comment__input {
    flex-grow: 1;
    margin-left: 10px; }
    .add-comment__input textarea {
      width: 100%;
      height: 60px;
      border-radius: 4px;
      border: 1px solid #aaa;
      padding: 5px 10px;
      font-size: 14px;
      transition: height .25s; }
  .add-comment__button {
    padding: 5px 15px;
    background-color: #6bac0f;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    margin-left: auto;
    text-transform: uppercase; }

@media (min-width: 544px) {
  .dashboard-chat {
    bottom: 0; } }
