.dashboard-chat .thumbnail {
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 50%; }
  .dashboard-chat .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.no-comments {
  padding: 1rem 0;
  font-style: italic; }
  .no-comments.hide-message {
    display: none; }

.comment-list .comment {
  margin: .5rem 0;
  font-family: 'Encode Sans Semi Expanded', sans-serif; }

.comment-list h4 {
  margin-bottom: 0;
  line-height: 20px;
  color: #6bac0f; }

.comment-list h5 {
  font-weight: 300; }

.comment-list p {
  margin: 1rem 0 0 0;
  font-size: .8rem; }

.comment-list .user-photo {
  float: left;
  margin-right: 10px; }

.add-comment {
  display: flex;
  text-align: right;
  margin-top: 2rem; }
  .add-comment__input {
    flex-grow: 1;
    margin-left: 10px; }
    .add-comment__input textarea {
      width: 100%;
      height: 60px;
      border-radius: 4px;
      border: 1px solid #aaa;
      padding: 5px 10px;
      font-size: 14px;
      transition: height .25s; }
  .add-comment__button {
    padding: 5px 15px;
    background-color: #6bac0f;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    margin-left: auto;
    text-transform: uppercase; }
  .add-comment .user-photo {
    margin-top: 5px; }
