@import '../../styles/variables.scss';

.dashboard-chat {
    .thumbnail {
        width: 30px;
        height: 30px;
        float: left;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .nested-reply {
        float: right;
        font-size: .7rem;   
        cursor: pointer;
    }
    .reply-count {
        color: #0576b9;
        font-size: .7rem;
        cursor: pointer;
        position: relative;
        top: -5px;
    }

    .nested-reply-container {
        height: 0;
        overflow: hidden;

        &.open {
            height: auto;
        }
        .add-comment {
            margin-top: 5px;
        }
        .add-comment__photo {
            display: none;
        }
        .add-comment__input {
            display: flex;
            margin: 0;
            textarea {
                height: 25px;
                padding: 3px 10px;
                margin-right: 5px;
            }
        }
    }

    .comment {
        display: flex;
        margin: 1rem 0;
        font-family: 'Encode Sans Semi Expanded', sans-serif;

        .user-photo {
            margin-top: 3px;
        }
    }

    .btn-follow {
        padding: 5px;
        font-size: .7rem;
        border: 1px solid $borderGrey;
        float: right;

        &.active {
            background-color: $secondary;
        }
    }

    .comment-content {
        margin: 0 10px;
        width: 100%;
    }

    h4 {
        display: inline-block;
        line-height: 20px;
        color: $secondary;
    }
    h3, h4, h5 {
        margin: 0;
    }
    .time {
        display: inline-block;
        font-weight: 300;
        margin-left: 10px;
        font-size: .7rem;
    }
    p {
        margin: 0;
    }
    .article h2 {
        font-size: .8rem;
        margin-bottom: 2px;
    }
}

.no-comments {
    padding: 1rem 0;
    font-style: italic;

    &.hide-message {
        display: none;
    }
}

.add-comment {
    display: flex;
    text-align: right;
    margin-top: 2rem;
    
    &__input {
        flex-grow: 1;
        margin-left: 8px;
        textarea {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: 1px solid #aaa;
            padding: 10px;
            font-size: 14px;
            transition: height .25s;
        }
    }
    &__button {
        padding: 5px 15px;
        background-color: $secondary;
        color: $white;
        font-size: 12px;
        border-radius: 4px;
        margin-left: auto;
        text-transform: uppercase;
    }
}

.dashboard-latest-comments {
    .comment {
        .reply-text,
        .reply-container {
            display: none;
        }
    }
}