.custom-twitter {
    form {
        margin: 2rem 0;
        display: flex;
    }

    .errors-container {
        padding-left: 2rem;
    }

    .twitter-source {
        span {
            font-weight: 600;
            margin-left: 5px;
            cursor: pointer;
        }
        &.hide {
            display: none;
        }
    }
}