@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.dashboard-settings-container {
    padding: .5rem;
    padding-bottom: 0;
    width: 100%;
    border: 1px solid $borderGrey;
    background-color: $lightGrey;
    position: fixed;
    top: 60px;
    z-index: 100;

    .left-icons {
        display: flex;
    }
    .right-icons {
        margin-top: 5px;
    }

    .small-search {
        .searchbar {
            height: 25px;
            width: 25px;
            float: left;
            border: 1px solid #ccc;
            border-radius: .25rem;
            transition: width .2s;

            &.open {
                width: 160px;                
            }

            .search-icon {
                width: 20px;
                height: 20px;
                left: 2px;
                cursor: pointer;
            }
            input {
                padding: 4px;
                font-size: .8rem;
                left: 25px;
            }
        }
    }

    .btn-primary,
    .btn-secondary {
        padding: 5px;
        font-size: .8rem;
        float: left;
        margin: 0 6px;
        position: relative;
        top: -2px;
    }
}
.settings-buttons {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;

    .item {
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.auto-refresh-button {
    position: relative;
    display: flex;
    align-items: center;

    &.spin {
        pointer-events: none;
    }
    
    &._list-visible {
        .auto-refresh-button {
            &__list {
                opacity: 1;
                pointer-events: auto;
                transform: translateX(calc(-100% - 20px));
                transition: opacity .25s ease-in-out .1s, transform .25s ease-in-out;
            }
        }
    }
    &__list {
        left: 0;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s ease-in-out, transform .25s ease-in-out .1s;
    }
}

@media (min-width: 768px) {
    .dashboard-settings-container {
        .left-icons {
            float: left;
        }
        .right-icons {
            margin-top: 0;
            float: right;
        }
    }
}