@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.dashboard-settings-container {
    padding: 1rem;
    padding-bottom: 8px;
    width: 100%;
    // border: 1px solid $borderGrey;
    background-color: white;
    position: fixed;
    z-index: 99;
    top: 61px;
    left: 0;
    right: 0;
    box-shadow: 0 1px 3px 0 $boxShadow, 0 0 0 1px $boxShadow;
    transition: opacity .2s;

    &.true {
        opacity: 0;
        pointer-events: none;
    }

    .btn-popular {
        background-color: #000000;
        color: $white;
        border-color: #000000;

        &:hover {
            background-color: #000000;
            border-color: #000000;
        }

    }
    
    .btn-livefeed {
        background-color: #D11E23;
        border-color: #D11E23;

        &:hover,
        &:focus,
        &:active {
            background-color: #D11E23;
            border-color: #D11E23;
        }
    }
    .left-icons {
        display: flex;
    }
    .right-icons {
        margin-top: 10px;
    }

    .small-search {

        .searchbar {
            height: 25px;
            width: 25px;
            float: left;
            border: 1px solid #ccc;
            border-radius: .25rem;
            transition: width .2s;
            overflow: hidden;

            &.open {
                width: 140px;                
            }

            .search-icon {
                width: 20px;
                height: 20px;
                left: 2px;
                cursor: pointer;
            }
            input {
                padding: 4px;
                font-size: .8rem;
                left: 25px;
            }
        }
    }

    .btn-primary,
    .btn-secondary {
        padding: 5px;
        font-size: .8rem;
        float: left;
        margin-right: 10px;
        position: relative;
        top: -2px;
    }
}
.settings-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.auto-refresh-button {
    position: relative;
    display: flex;
    align-items: center;

    &.spin {
        pointer-events: none;
    }
    
    &._list-visible {
        .auto-refresh-button {
            &__list {
                opacity: 1;
                pointer-events: auto;
                transform: translateX(calc(-100% - 20px));
                transition: opacity .25s ease-in-out .1s, transform .25s ease-in-out;
            }
        }
    }
    &__list {
        left: 0;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s ease-in-out, transform .25s ease-in-out .1s;
    }
}

@media (min-width: 768px) {
    .dashboard-settings-container {
        top: 80px;
        margin: auto;
        width: 750px;
        border-radius: .25rem;

        .left-icons {
            margin: 0;
            float: left;
        }
        .right-icons {
            margin-top: 0;
            float: right;
        }
    }
}