.faqs {
    max-width: 750px;
    margin: auto;    
    
    h3 {
        font-size: 1.1rem;
    }
    p {
        font-size: .85rem;
        margin-bottom: 0;        
    }
    .title {
        margin-bottom: 2rem;
    }
    .card {
        margin-bottom: .5rem;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 5px 15px rgba(57, 73, 76, 0.35);
        }
    }
}