@import '../../styles/variables.scss';

.favourite-icon {
    position: relative;
    height: 24px;
    width: 24px;
    margin: 0 2px;
    opacity: .38;

    svg {
        width: 23px;
        height: 16px;
        fill: none;
        stroke: #000;
        stroke-width: 4px;
    }

    &.active {
        opacity: 1;

        svg {
            fill: #34B151;
            stroke-width: 0px;
        }
    }
    span {
        position: absolute;
        bottom: 0;
        right: -1px;
        font-size: .6rem;
    }
}