.favourite-icon {
  position: relative;
  height: 24px;
  width: 24px;
  margin: 0 2px;
  opacity: .38; }
  .favourite-icon svg {
    width: 23px;
    height: 16px;
    fill: none;
    stroke: #000;
    stroke-width: 4px; }
  .favourite-icon.active {
    opacity: 1; }
    .favourite-icon.active svg {
      fill: #34B151;
      stroke-width: 0px; }
  .favourite-icon span {
    position: absolute;
    bottom: -7px;
    right: 1px;
    font-size: .6rem; }
