.features-guide {
  max-width: 750px;
  margin: 5rem auto; }
  .features-guide .card {
    background-color: #6bac0f;
    color: #fff;
    transition: all 0.3s ease; }
    .features-guide .card:hover {
      transform: translateY(-1px);
      box-shadow: 0 5px 15px rgba(57, 73, 76, 0.35); }
