@import './src/styles/variables.scss';

.features-guide {
    max-width: 750px;
    margin: 5rem auto;
    
    .card {
        background-color: $secondary;
        color: $white;
        transition: all 0.3s ease;        

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 5px 15px rgba(57, 73, 76, 0.35);
        }
    }
}