.features-guide {
  max-width: 750px;
  margin: 5rem auto; }
  .features-guide h2 {
    margin-bottom: 2rem; }
  .features-guide ul {
    padding-left: 60px; }
  .features-guide h3 {
    margin: 0;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem; }
    .features-guide h3 i {
      font-size: 3rem;
      width: 60px; }
  .features-guide .card {
    background-color: #fff;
    transition: all 0.3s ease;
    padding: 1rem 2rem; }
    .features-guide .card:hover {
      transform: translateY(-1px);
      box-shadow: 0 5px 15px rgba(57, 73, 76, 0.35); }
  @media (min-width: 768px) {
    .features-guide .title {
      font-size: 2rem; } }
