@import '../../styles/_variables.scss';

.results-tab {
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
}
.result-card {
    margin: 2px 8px;
    padding: 2px 20px;
    font-size: 1.5rem;
    text-transform: capitalize;
    position: relative;

    .logo {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        float: left;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .close-icon {
        top: -6px;
        right: -7px;

        svg {
            width: 8px;
        }
    }
}