.app-header {
  height: 70px;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  transition: box-shadow .2s; }
  .app-header.fixed-header {
    border: none;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }

.app-logo {
  width: 70px;
  position: relative;
  float: left;
  top: -25px; }

.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%; }

.dashboard-header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ebebeb; }
  .dashboard-header .user-details {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border-left: 1px solid #ebebeb; }
    .dashboard-header .user-details .username {
      margin: 22px 15px; }
    .dashboard-header .user-details a {
      padding: 5px 10px;
      padding-left: 0;
      float: right; }

@media (min-width: 768px) {
  .dashboard-header {
    margin-left: 60px;
    width: calc(100% - 60px); } }
