@import '../../styles/_variables.scss';

.app-header {
    height: 70px;
    padding: 1rem 0;
    background-color: $white;
    border-bottom: 1px solid $borderGrey;
    transition: box-shadow .2s;

    .close-icon {
        top: 25px;
        right: 25px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
    
    &.fixed-header {
        border: none;
        box-shadow: 0 1px 3px 0 $boxShadow, 0 0 0 1px $boxShadow;
    }
}
.app-logo {
    width: 70px;
    position: relative;
    float: left;
    top: -25px;
}

.navbar-sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.dashboard-header {
    background-color: $lightGrey;
    border-bottom: 1px solid $borderGrey;    
    // box-shadow: 0 1px 6px rgba(57,73,76,.35);
    
    .user-details {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $white;
        border-left: 1px solid $borderGrey;

        .username {
            margin: 15px;
        }

        .upgrade {
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
            left: -105px;
            top: 15px;
            background-color: #13b711;
            padding: 4px 10px;
            color: $white;
        }

        a {
            padding: 5px;
            float: right;
        }
    }
}

@media (min-width: 544px) {
    .app-header {
        padding: 1rem 2rem;
    }
}
@media (min-width: 768px) {
    .app-header {
        height: 100px;

        .close-icon {
            height: 40px;
            width: 40px;

            svg {
                width: 25px;
                height: 25px;
            }
        }
    }
    .dashboard-header {
        margin-left: 60px;
        width: calc(100% - 60px);
    }
}