.app-header {
  height: 70px;
  padding: 1rem 0;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  transition: box-shadow .2s; }
  .app-header .close-icon {
    top: 25px;
    right: 25px; }
    .app-header .close-icon svg {
      width: 20px;
      height: 20px; }
  .app-header.fixed-header {
    border: none;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }

.app-logo {
  width: 70px;
  position: relative;
  float: left;
  top: -25px; }

.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%; }

.dashboard-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb; }
  .dashboard-header .user-details {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border-left: 1px solid #ebebeb; }
    .dashboard-header .user-details .username {
      margin: 15px; }
    .dashboard-header .user-details .upgrade {
      position: absolute;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      left: -105px;
      top: 15px;
      background-color: #13b711;
      padding: 4px 10px;
      color: #fff; }
    .dashboard-header .user-details a {
      padding: 5px;
      float: right; }

@media (min-width: 544px) {
  .app-header {
    padding: 1rem 2rem; } }

@media (min-width: 768px) {
  .app-header {
    height: 100px; }
    .app-header .close-icon {
      height: 40px;
      width: 40px; }
      .app-header .close-icon svg {
        width: 25px;
        height: 25px; }
  .dashboard-header {
    margin-left: 60px;
    width: calc(100% - 60px); } }
