@import '../../styles/variables.scss';

.menu-container {
    position: fixed;
    max-width: 400px;
    border-left: 1px solid $borderGrey;
    background-color: $white;
    transform: translateX(400px);
    right: 0;
    bottom: 50px;
    top: 95px;
    z-index: 99;

    .header {
        padding: 1rem;
        border-bottom: 1px solid $borderGrey;
        
        h3 {
            padding-right: 1.25rem;
            margin: 0;
        }
    }

    .close-icon {
        width: 15px;
        height: 15px;
        top: 10px;
        right: 15px;
        
        svg {
            width: 15px;
            height: 15px;
            fill: $textSecondary;
        }
    }
    
    .fixed-content {
        display: none;
    }

    &.open {
        transform: none;
        .fixed-content {
            display: block;
        }
    }
}


@media (min-width: 768px) {
    .menu-container {
        bottom: 0;
        min-height: 95vh;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        display: none;
        position: static;
        transition: none;

        .scrollable {
            overflow-y: auto;
            max-height: 80vh;
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 60px;
        }

        .fixed-content {
            position: fixed;
            margin-top: 45px;
            min-width: 335px;
        }

        &.open {
            display: flex;        
        }
    }
}
