.menu-container {
  position: fixed;
  max-width: 400px;
  width: 95vw;
  border-left: 1px solid #ebebeb;
  background-color: #fff;
  transform: translateX(400px);
  right: 0;
  bottom: 50px;
  top: 135px;
  z-index: 99;
  overflow-y: auto; }
  .menu-container .header .close-icon {
    width: 15px;
    height: 15px;
    top: 10px;
    right: 15px; }
    .menu-container .header .close-icon svg {
      width: 15px;
      height: 15px;
      fill: #484848; }
  .menu-container .scrollable {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 60px; }
  .menu-container .header {
    padding: 1rem;
    border-bottom: 1px solid #ebebeb; }
    .menu-container .header h3 {
      padding-right: 1.25rem;
      margin: 0; }
  .menu-container .fixed-content {
    display: none; }
  .menu-container.open {
    transform: none; }
    .menu-container.open .fixed-content {
      display: block; }

@media (min-width: 768px) {
  .menu-container {
    bottom: 0;
    position: static;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: none;
    transition: none;
    overflow-y: initial; }
    .menu-container .scrollable {
      overflow-y: auto;
      max-height: 80vh; }
    .menu-container .fixed-content {
      position: fixed;
      width: 400px; }
    .menu-container.open {
      display: block; } }
