@import '../../styles/_variables.scss';

.news-feed {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 1px;
    top: 45px;

    .errors-container {
        width: 340px;
        margin: 2rem auto;
        background-color: $darkGrey;
        // padding: 1rem 2rem;
        border-radius: .25rem;
    }

    .col-sm-6,
    .col-md-6,
    .col-lg-3,
    .col-xl-2 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    &.template2 {
        top: 40px;
        max-width: none;
        padding: 0 !important;
    }
}


.back-to-feed {
    margin: 1rem;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}


.news-feed-messages {
    padding: 5rem 0;
    text-align: center;
}

.no-search-results-message {
    display: none;

    &.show {
        display: block;
    }
}

.load-more-btn {

    &.show {
        display: none;
    }
}

@media (min-width: 544px) {
    .menu-closed,
    .menu-open {
        .template2 {
            .col-sm-6,
            .col-md-4,
            .col-lg-4,
            .col-xl-3 {
                flex: none;
                width: 100%;
                max-width: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .news-feed {
        padding-left: 75px !important;
        
        &.template2 {
            padding-left: 60px !important;
        }
    }
    
    .menu-open {
        .template1 {
            .col-md-4,
            .col-sm-6,
            .col-md-4,
            .col-lg-4,
            .col-xl-3 {
                flex: none;
                width: 100%;
                max-width: none;
            }
        }
    }
}

@media (min-width: 992px) {

    .news-feed {
        &.template1 {
            margin: auto !important;
        }
    }

    .menu-open {
        .template1 {
            .col-lg-4 {
                max-width: 50%;                
            }
        }
    }
}

@media (min-width: 1200px) {
    .menu-open {
        .template1 {
            .col-xl-4 {
                max-width: calc(100% / 3);
            }
        }
    }
}