.news-card {
  padding-bottom: 3rem;
  margin: .5rem 0;
  background-color: #fff;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  height: 95%; }
  .news-card .thumbnail {
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
    height: 210px;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden; }
    .news-card .thumbnail img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .news-card .content {
    padding: 1rem; }
  .news-card header {
    padding-bottom: 0; }
  .news-card .source-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    float: left;
    object-fit: contain; }
  .news-card .source {
    color: #6bac0f;
    position: relative;
    top: 5px;
    left: 7px;
    font-size: .7rem;
    margin-bottom: 15px; }
  .news-card .title {
    line-height: 24px;
    margin-bottom: 0;
    font-size: 1.2rem;
    word-break: break-word;
    font-family: 'Domine', serif; }
  .news-card .description {
    margin: 1rem 0;
    height: 80px;
    overflow: hidden;
    word-break: break-word;
    font-size: .9rem; }
    .news-card .description img {
      display: none; }
  .news-card footer {
    position: absolute;
    bottom: 20px;
    left: 25px;
    right: 25px; }

.comments-icon {
  position: relative;
  height: 25px;
  width: 24px;
  opacity: .38;
  margin-left: 1px; }
  .comments-icon.active {
    opacity: 1; }
  .comments-icon svg {
    width: 23px;
    height: 17px;
    stroke: #000;
    stroke-width: 4px; }
  .comments-icon span {
    position: absolute;
    bottom: 0;
    font-size: .6rem;
    right: -1px; }

@media (min-width: 544px) {
  .news-card {
    padding-bottom: 2.5rem; }
    .news-card .thumbnail {
      height: 175px; }
    .news-card .description {
      height: 60px; } }

.template2 .news-card {
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 0;
  box-shadow: none;
  height: auto;
  border-bottom: 1px solid #ebebeb; }
  .template2 .news-card header {
    padding: 0; }
  .template2 .news-card .content {
    padding: 0;
    float: right;
    width: calc(100% - 120px); }
  .template2 .news-card .thumbnail {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    border-bottom: 0;
    border-radius: 50%; }
  .template2 .news-card .title {
    margin-top: .5rem; }
  .template2 .news-card .tier-icon {
    margin-top: 5px;
    box-shadow: none;
    border: 1px solid #6bac0f; }
  .template2 .news-card .description {
    height: 65px; }
  .template2 .news-card footer {
    bottom: 0; }

@media (min-width: 768px) {
  .news-feed.template2 {
    margin-left: 60px;
    padding: 0; }
    .news-feed.template2 .thumbnail {
      height: 140px;
      width: 140px; }
    .news-feed.template2 .content {
      width: calc(100% - 160px); }
    .news-feed.template2 footer {
      left: 30px;
      right: 30px; } }
