@import '../../styles/_variables.scss';

.news-feed {
    margin-left: 0;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 1px;
    top: 45px;
}

.news-card {
    padding: 1rem;
    padding-bottom: 2rem;
    margin: .5rem 0;
    background-color: #fff;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    height: 97.3%;

    .source {
        color: $darkGreen;
    }

    .title {
        line-height: 32px;
    }

    .description {
        height: 245px;
        overflow: hidden;
    }

    footer {
        position: absolute;
        bottom: 5px;
        left: 30px;
        right: 40px;
    }
}

.comment-icon {    
    svg {
        vertical-align: middle;
        width: 22px;
        height: 22px;
        stroke-width: 5px;
        stroke: #000;
    }
}

.load-more-btn {
    color: red;

    &.hide {
        display: none;
    }
}

@media (min-width: 768px) {
    .news-feed {
        margin: 5px 20px 10px 80px;

    }
    
    .chat-open {
        .template1,
        .template2 {
            .col-md-6,
            .col-lg-4,
            .col-xl-3 {
                flex: none;
                width: 100%;
                max-width: none;
            }
        }
    }

    .chat-closed {
        .template2 {
            .col-md-6,
            .col-lg-4,
            .col-xl-3 {
                flex: none;
                width: 100%;
                max-width: none;
            }
        }
    }



    .news-card {
        footer {
            left: 20px;
            right: 20px;
        }
    }

    .col-md-6,
    .col-lg-4,
    .col-xl-3 {
        padding-left: 7px !important;
        padding-right: 7px !important;
    }
}
