@import '../../styles/_variables.scss';

.news-card {
    padding: 1rem;
    margin: 1rem;
    background-color: $white;

    .description {
        max-height: 75px;
        overflow: hidden;
    }
}

@media (min-width: 544px) {
    .news-feed {
        margin-left: 72px;
    }
}
