.news-feed {
  position: relative; }

.news-card {
  padding: 1rem;
  padding-bottom: 2rem;
  margin: .5rem 0;
  background-color: #fff;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  height: 98%; }
  .news-card .source {
    color: #6bac0f; }
  .news-card .title {
    line-height: 30px; }
  .news-card .description {
    max-height: 75px;
    overflow: hidden; }
  .news-card footer {
    position: absolute;
    bottom: 5px;
    left: 30px;
    right: 40px; }

.like-icon svg {
  width: 24px;
  height: 22px;
  fill: none;
  stroke: #000;
  stroke-width: 5px;
  margin: 2px 10px; }
  .like-icon svg.active svg {
    fill: #6bac0f; }

.comment-icon svg {
  vertical-align: middle;
  width: 22px;
  height: 22px;
  stroke-width: 5px;
  stroke: #000; }

@media (min-width: 544px) {
  .news-feed {
    margin: 5px 20px 10px 90px; }
    .news-feed.template2 .col-md-6,
    .news-feed.template2 .col-lg-4,
    .news-feed.template2 .col-xl-3 {
      flex: none;
      width: 100%;
      max-width: none; }
  .news-card footer {
    left: 20px;
    right: 20px; }
  .col-md-6,
  .col-lg-4,
  .col-xl-3 {
    padding-left: 4px !important;
    padding-right: 4px !important; } }
