.news-feed {
  margin-left: 0;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 1px;
  top: 45px;
  min-height: 1; }
  .news-feed .col-sm-6,
  .news-feed .col-md-4,
  .news-feed .col-lg-3,
  .news-feed .col-xl-2 {
    padding-left: 7px !important;
    padding-right: 7px !important; }

.dashboard-message {
  padding: 5rem;
  opacity: 0; }
  .dashboard-message.no-search-results {
    opacity: 1; }

.load-more-btn.hide {
  display: none; }

@media (min-width: 544px) {
  .news-feed {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) {
  .news-feed {
    margin: 0 20px 10px 80px;
    padding: 0; }
  .sidebar-open .template1 .col-md-4,
  .sidebar-open .template1 .col-lg-3,
  .sidebar-open .template1 .col-xl-2,
  .sidebar-open .template2 .col-md-4,
  .sidebar-open .template2 .col-lg-3,
  .sidebar-open .template2 .col-xl-2 {
    flex: none;
    width: 50%;
    max-width: none; }
  .sidebar-closed .template2 .col-md-6,
  .sidebar-closed .template2 .col-lg-4,
  .sidebar-closed .template2 .col-xl-3 {
    flex: none;
    width: 100%;
    max-width: none; } }

@media (min-width: 992px) {
  .sidebar-open .template1 .col-md-4,
  .sidebar-open .template1 .col-lg-3,
  .sidebar-open .template1 .col-xl-2,
  .sidebar-open .template2 .col-md-4,
  .sidebar-open .template2 .col-lg-3,
  .sidebar-open .template2 .col-xl-2 {
    max-width: calc(100% / 3); } }

@media (min-width: 1200px) {
  .sidebar-open .template1 .col-md-4,
  .sidebar-open .template1 .col-lg-3,
  .sidebar-open .template1 .col-xl-2,
  .sidebar-open .template2 .col-md-4,
  .sidebar-open .template2 .col-lg-3,
  .sidebar-open .template2 .col-xl-2 {
    max-width: 25%; } }
