.pricing-guide {
  max-width: 750px;
  margin: 5rem auto; }
  .pricing-guide .title {
    color: #323648; }
  .pricing-guide .card-title {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1); }
  .pricing-guide .ion-checkmark {
    color: #86C232;
    margin-right: 5px;
    font-size: .7rem;
    position: relative;
    top: -2px; }
  .pricing-guide li {
    margin-bottom: 7.5px;
    font-size: .92rem; }
  .pricing-guide .card {
    margin-top: 1rem;
    transition: all 0.3s ease; }
    .pricing-guide .card:hover {
      transform: translateY(-1px);
      box-shadow: 0 5px 15px rgba(57, 73, 76, 0.35); }
  .pricing-guide .premium {
    padding: 0;
    background-color: #6bac0f;
    color: #fff;
    padding: 1rem; }
    .pricing-guide .premium .card-title {
      border-bottom-color: #fff; }
  .pricing-guide .footnote {
    margin: 2rem 0 0; }
  @media (min-width: 768px) {
    .pricing-guide .title {
      font-size: 2rem; } }
