@import './src/styles/variables.scss';

.pricing-guide {
    max-width: 750px;
    margin: 5rem auto;

    .title {
        color: $navy;
    }

    .card-title {
        padding: 1rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px dashed rgba(0,0,0,.1);
    }

    .ion-checkmark {
        color: $primary;
        margin-right: 5px;
        font-size: .7rem;
        position: relative;
        top: -2px;
    }

    li {
        margin-bottom: 7.5px;
        font-size: .92rem;
    }

    .card {
        margin-top: 1rem;
        transition: all 0.3s ease;        

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 5px 15px rgba(57, 73, 76, 0.35);
        }
    }

    .premium {
        padding: 0;
        background-color: $secondary;
        color: $white;
        padding: 1rem;

        .card-title {
            border-bottom-color: $white;
        }
    }

    .footnote {
        margin: 2rem 0 0;
    }

    @media (min-width: 768px) {
        
        .title {
            font-size: 2rem;
        }
    }

}