.pricing-guide {
  padding: 2rem;
  background-color: white;
  max-width: 670px;
  margin: 3rem auto; }
  .pricing-guide .card {
    margin-top: 1rem; }
  .pricing-guide .premium {
    color: #6bac0f; }
  .pricing-guide .footnote {
    margin: 2rem 0 0; }
