.pricing-guide {
    padding: 2rem;
    background-color: white;
    // box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    max-width: 750px;
    margin: 3rem auto;

    h2 {
        margin-bottom: 2rem;
    }

    .footnote {
        margin: 2rem 0 0;
    }
}