.pricing-guide {
  padding: 2rem;
  background-color: white;
  max-width: 750px;
  margin: 3rem auto; }
  .pricing-guide h2 {
    margin-bottom: 2rem; }
  .pricing-guide .footnote {
    margin: 2rem 0 0; }
