.profile-page .user-photo {
  margin: auto; }

.profile-page .profile-card {
  background: #fff;
  padding: 1rem;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }
  .profile-page .profile-card a {
    text-decoration: underline; }

.profile-page .details {
  padding: 2rem; }
