.searchbar {
  background-color: #fff;
  height: 50px;
  position: relative;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; }
  .searchbar input {
    position: absolute;
    width: 360px;
    left: 40px;
    cursor: text;
    font-size: 1.3rem; }

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: rgba(107, 110, 112, 0.8);
  width: 24px;
  height: 24px;
  left: 15px;
  z-index: 1; }

@media (min-width: 544px) {
  .searchbar {
    width: 400px; } }
