@import '../../styles/variables.scss';

.settings-button {
    img {
        cursor: pointer;
    }
    svg {
        width: 22px;
        transition: fill .25s ease-in-out; 
        &:hover {
            fill: $secondary;
        }
    }
    &.active {
        svg {
            fill: $secondary;
        }
    }

    .dropdown {
        .menu {
            top: 20px;
            right: -45px;
        }
    }
}