@import '../../styles/variables.scss';

.settings-button {
    svg {
        width: 22px;
        transition: fill .25s ease-in-out; 
        &:hover {
            fill: $secondary;
        }
    }
    &.active {
        svg {
            fill: $secondary;
        }
    }
}