.share-container {
  text-align: right; }
  .share-container button {
    background-color: #33A4EC;
    color: white;
    border-color: #33A4EC;
    margin-bottom: .7rem; }

.copied-message {
  position: fixed;
  top: 150px;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100; }
  .copied-message span {
    padding: 4px; }
