.share-container {
  text-align: right; }
  .share-container button {
    color: #33A4EC;
    border-color: #33A4EC;
    padding: 2px;
    margin: 0;
    font-size: .8rem; }

.copied-message {
  position: fixed;
  top: 150px;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100; }
  .copied-message span {
    padding: 4px; }
