.share-container {
  text-align: right; }
  .share-container button {
    color: #33A4EC;
    border-color: #33A4EC;
    padding: 2px;
    margin: 0;
    font-size: .8rem; }

.copied-message {
  position: fixed;
  top: 120px;
  width: 100%;
  margin: auto;
  z-index: 100; }
  .copied-message span {
    font-size: .7rem;
    line-height: 12px;
    padding: 3px; }
