.dashboard-sidebar {
  background-color: #f7f7f7;
  border: 1px solid #ebebeb;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  color: #fff;
  padding: 5px 10px;
  height: 50px; }
  .dashboard-sidebar .app-logo {
    cursor: pointer;
    width: 40px;
    top: 0;
    left: 0px; }

.plus-icon {
  float: right;
  position: relative;
  width: 40px;
  min-height: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #000000;
  transition: box-shadow .25s; }

.plus-icon:hover {
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.6); }

.plus-icon:after, .plus-icon:before {
  position: absolute;
  display: block;
  content: '';
  width: 4px;
  height: 16px;
  left: 50%;
  top: 50%;
  background-color: #fff;
  border-radius: 3px; }

.plus-icon:after {
  transform: translate(-50%, -50%) rotate(0deg); }

.plus-icon:before {
  transform: translate(-50%, -50%) rotate(90deg); }

@media (min-width: 768px) {
  .dashboard-sidebar {
    height: 100%;
    width: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column; }
    .dashboard-sidebar .app-logo {
      top: 0px;
      left: -1px; }
    .dashboard-sidebar .plus-icon {
      border-color: #000000;
      margin-top: 15px;
      float: none; } }
