.add-dashboard {
  background-color: #f9f9f9; }
  .add-dashboard .content {
    margin-top: 3rem; }
  .add-dashboard .custom-filters {
    display: flex; }
  .add-dashboard .source-type h4 {
    cursor: pointer; }
  .add-dashboard .source-type ul {
    overflow: hidden;
    transition: height .3s; }
  .add-dashboard .label {
    margin: 0; }
  .add-dashboard .searchbar {
    width: 100%;
    margin-right: 0;
    border: 1px solid #ebebeb; }
    .add-dashboard .searchbar .add-icon {
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
      fill: #484848;
      float: right;
      margin: 20px; }
  .add-dashboard .btn-primary {
    margin: 3rem auto;
    padding: 1rem; }
  .add-dashboard .input-wrapper {
    margin-bottom: 10px; }
  .add-dashboard .text-input {
    min-width: 320px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 0 10px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px; }
  .add-dashboard .sources .source-feed {
    height: 140px; }
  .add-dashboard .sources .list {
    width: 100%; }
  .add-dashboard .sources .custom-twitter {
    height: 70%; }
    .add-dashboard .sources .custom-twitter .text-input {
      color: black; }
  .add-dashboard .sources .twitter {
    flex-direction: column; }

.list {
  position: relative;
  margin-top: 1rem;
  background-color: #fff;
  padding: .1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .28571429rem; }
  .list ul {
    border-top: 1px solid #ebebeb; }
  .list .list-title {
    margin: 1rem; }
  .list .no-results.hide {
    display: none; }

.add-dashboard .col-md-4,
.add-dashboard .col-md-6 {
  padding-left: 5px;
  padding-right: 5px; }

.add-dashboard .source-feed,
.add-dashboard .twitter-filter {
  min-height: 0;
  height: auto;
  margin-bottom: 1rem; }

@media (min-width: 544px) {
  .list {
    height: 400px;
    overflow-y: scroll; } }

@media (min-width: 768px) {
  .add-dashboard .title {
    font-size: 2.5rem; }
  .add-dashboard .searchbar {
    width: 400px; }
  .add-dashboard .source-type {
    max-width: 400px; } }
