.add-dashboard {
  background-color: #F7F8F9; }
  .add-dashboard .searchbar {
    margin-right: 0; }
    .add-dashboard .searchbar .close-icon {
      transform: rotate(45deg); }

.list {
  overflow-y: scroll;
  position: relative;
  background-color: #fff;
  padding: .1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .28571429rem; }
  .list .list-title {
    margin: 1rem; }

.add-dashboard .col-md-4 {
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 544px) {
  .list {
    height: 70vh;
    min-height: 400px; } }

@media (min-width: 768px) {
  .add-dashboard .searchbar {
    width: 400px; } }
