@import './src/styles/variables.scss';
.add-dashboard {
    background-color: #f9f9f9;

    .main-form {
        margin: 0 auto;
    }

    .content {
        padding: 2rem 0;
        width: 95vw;
        max-width: 1000px;
        margin: auto;
        display: flex;
    }

    .instructions-panel {
        display: none;
        width: 36%;
        margin-left: 2rem;
        padding: 1rem 0;
        padding-left: 2rem;
        border-left: 1px solid $borderGrey;

        .step {
            margin-bottom: 2rem;

            &.step4 {
                margin-top: 27rem;
            }
        }

        h3 {
            margin-bottom: 0;
        }

        p {
            margin-bottom: .5rem;
        }
    }

    .add-dashboard-section {
        padding: 1rem;
        background-color: $white;
        margin: 1rem 0;
        border: 1px solid $borderGrey;
        border-radius: .25rem;

        .label-title {
            font-size: 1.25rem;
            font-weight: 700;
        }

        &.align-items {
            align-items: center;
        }

        .sub-title {
            border-bottom: 1px solid $borderGrey;
            font-size: 1.8rem;
        }
    }

    .add-dashboard-instructions {
        display: none;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .checkbox {
        border: 1px solid $borderGrey;
        margin: 5px;
        border-radius: .25rem;
        padding-left: 5px;

        &.disabled {
            background-color: $borderGrey;
            cursor: not-allowed;
            pointer-events: none;

            .form-label,
            input {
                pointer-events: none;
                cursor: not-allowed;
            }
        }

        .form-label {
            margin-left: 5px;
            cursor: pointer;
            
            input {
                margin-right: 10px;

                &:disabled {
                    cursor: not-allowed;
                    background-color: $borderGrey;
                }
            }
        }

        &.full-width {
            width: 100%;
            display: initial;
            font-size: 1.1rem;

            .form-label {
                display: flex;
                justify-content: space-between;
                padding: 12px;
    
                input {
                    margin: 0;
                    margin-top: 7px;
                }
            }
        }
    }

    .text-input {
        width: 300px;
        background-color: $white;
        border: 1px solid $borderGrey;
        padding: 0 10px;
        height: 40px;
        font-size: 16px;
        border-radius: 4px;

        &.square {
            width: 80px;
            padding: 15px;
        }
    }

    .relative {
        position: relative;
    }

    .list {
        position: relative;
        margin-top: 5px;
        background-color: $white;
        padding: .1rem;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: .28571429rem;    

        .plus-icon {
            cursor: pointer;
            width: 20px;
            height: 20px;
            min-height: 0;
            top: 20px;
            right: 5px;
            background-color: grey;
            border-color: transparent;
            box-shadow: none;

            &:before,
            &:after {
                width: 2px;
                height: 11px;
            }
        }

        header {
            display: none;
        }
    }

    .preset-filter-dropdown {
        padding: 1rem 0;

        .filter-card {
            height: 40px;
            padding: 0 5px;
            font-weight: 600;
            font-size: .8rem;
        }

        h4 {
            cursor: pointer;
        }
        ul {
            overflow: hidden;
            transition: height .3s;
        }

        .form-label {
            display: flex;
            justify-content: space-between;
            padding: 12px;

            input {
                margin: 0;
            }
        }

        .arrow {
            margin: 7px 5px;
        }
    }

    .errors-container {
        li span {
            color: $black;
        }
    }

    .source-type {
        border-bottom: 1px solid $borderGrey;
        padding: 1rem 0;
    }

    .list.player-list {
        .clickable {
            cursor: default;
        }
    }

    @media (min-width: 544px) {
        .list {
            height: 400px;
            overflow-y: scroll;   
            
            &.competition-list {
                margin-right: 25px;
            }

            &.team-list {
                margin: 0 25px;
            }

            &.player-list {
                margin-left: 25px;
            }
        }
    }

    @media (min-width: 768px) {
        .title {
            font-size: 2.5rem;
        }
        .add-dashboard-section {
            display: flex;
            justify-content: space-between;
        }
        .add-dashboard-form {
            width: 100%;
            justify-content: left;

            &.half {
                width: 49%;
                align-content: top;

                &:last-child {
                    border-left: 1px solid $borderGrey;
                    padding-left: 15px;
                }
            }
        }
        .add-dashboard-instructions {
            width: 30%;
            border-left: 1px solid $borderGrey;
            padding-left: 15px;

            p {
                font-size: .9rem;
            }
        }
    }
}

.header-tab {
    display: flex;
    text-align: center;
    border-bottom: 1px solid $borderGrey;
    margin: 1rem 0;
    text-transform: capitalize;

    li {
        flex: 1;
        padding: .5rem;
        transition: background-color .2s;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        cursor: pointer;

        &:not(:last-child) {
            border-right: 1px solid $borderGrey;
        }
    }
}

.arrow-icon {
    border: 1px solid $navy;
    background-color: $navy;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;

    .arrow {
        padding: 4px;
        border-color: $white;
    }
    
    &.left {
        left: -6px;
        top: 170px;

        .arrow {
            margin: 7px 8px;
            transform: rotate(135deg);
        }
    }
    &.right {
        right: -6px;
        top: 170px;

        .arrow {
            margin: 7px 5px;
            transform: rotate(-45deg);
        }
    }
}

.arrow {
    border: solid $black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    margin: 2px 5px;

    &.down {
        transform: rotate(45deg);

        .true & {
            transform: rotate(-135deg);
            position: relative;
            top: 5px;
        }
    }
}

.breadcrumbs {
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    .active {
        text-decoration: underline;
    }
}


@media (min-width: 992px) {
    .add-dashboard {
        .instructions-panel {
            display: initial;
        }
    }
}