@import '../../styles/_variables.scss';

.app-dashboard {
    min-height: 100vh;
}

// .menu-open {
//     overflow: hidden;
//     display: flex;
//     flex: 1;
// }

.overlay {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
    cursor: pointer;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    display: none;
    
    &.open {
        display: block;
    }
}

@media (min-width: 768px) {
    .overlay.open {
        display: none;
    }
}