.app-home {
  padding-bottom: 8rem; }

.background-color-block {
  position: absolute;
  height: 660px;
  width: 100%;
  top: 650px;
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  z-index: -1; }
  .background-color-block.two {
    top: 1590px; }

.hero {
  padding: 3rem 1rem;
  max-width: 800px;
  margin: auto; }
  .hero h2 {
    font-size: 2rem;
    line-height: 1.1; }
  .hero h4 {
    margin: 1rem 0;
    color: #323648;
    font-weight: 300; }
  .hero .btn-container {
    margin-top: 2rem; }
  .hero .btn-primary {
    padding: 1rem; }
  .hero .btn-secondary {
    padding: 1rem;
    margin-left: 1rem; }
    .hero .btn-secondary a {
      color: #474B4F; }

.card {
  padding: 1rem;
  background-color: #fff;
  border-radius: .28571429rem;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }

.dashboard-preview {
  height: 460px;
  padding: 0;
  position: relative;
  cursor: pointer;
  max-width: 720px;
  margin: auto;
  overflow: hidden;
  background-image: url("./dashboard-temp.png");
  background-size: cover;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35); }

@media (min-width: 544px) {
  .hero {
    padding: 5rem 3rem; } }

@media (min-width: 768px) {
  .app-header {
    padding: 1rem 2rem; }
  .hero {
    padding: 6rem;
    text-align: center; }
    .hero h2 {
      font-size: 2.75rem; }
    .hero h4 {
      font-size: 1.15rem; } }

@media (min-width: 992px) {
  .dashboard-preview {
    height: 580px;
    max-width: 900px; } }

@media (min-width: 1200px) {
  .hero {
    padding: 5rem 10rem; } }
