@import './src/styles/variables.scss';
.app-home {
    padding-bottom: 8rem;

    .app-header {
        height: 70px;
    }
}

.background-color-block {
    position: absolute;
    height: 660px;
    width: 100%;
    top: 650px;
    background-color: $lightGrey;
    border-top: 1px solid $borderGrey;
    border-bottom: 1px solid $borderGrey;
    z-index: -1;

    &.two {
        top: 1590px;
    }
}

.hero {
    padding: 3rem 1rem;
    max-width: 800px;
    margin: auto;

    h2 {
        font-size: 2rem;
        line-height: 1.1;
    }

    h4 {
        margin: 1rem 0;
        color: rgb(50, 54, 72);
        font-weight: 300;
    }

    .btn-container {
        margin-top: 2rem;
    }

    .btn-primary {
        padding: 1rem;
    }

    .btn-secondary {
        padding: 1rem;
        margin-left: 1rem;
        a {
            color: $darkGrey;
        }
    }
}

.card {
    padding: 1rem;
    background-color: $white;
    border-radius: .28571429rem;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);    
}

.dashboard-preview {
    height: 460px;
    padding: 0;
    position: relative;
    cursor: pointer;
    max-width: 720px;
    margin: auto;
    overflow: hidden;
    background-image: url('../../images/dashboard_temp2.png');
    background-size: cover;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}

@media (min-width: 544px) {
    .hero {
        padding: 5rem 3rem;
    }
}
@media (min-width: 768px) {
    .app-header {
        padding: 1rem 2rem;
    }
    .hero {
        padding: 6rem;
        text-align: center;

        h2 {
            font-size: 2.75rem;
        }

        h4 {
            font-size: 1.15rem;
        }
    }
}
@media (min-width: 992px) {
    .dashboard-preview {
        height: 485px;
        max-width: 900px;
    }
}
@media (min-width: 1200px) {
    .hero {
        padding: 5rem 10rem;
    }
}

