.preferences-page .user-photo {
  margin: auto; }

.preferences-page .auth-layout {
  display: initial; }
  .preferences-page .auth-layout .text-input {
    background-color: #f7f7f7;
    border: 1px solid #6B6E70;
    color: #222629; }
    .preferences-page .auth-layout .text-input.protected {
      background: #474B4F;
      color: #fff; }

.preferences-page .errors-container {
  margin: 1rem auto;
  width: 400px;
  text-align: left; }
  .preferences-page .errors-container li span {
    color: #222629; }

.preferences-page .update-success-message {
  color: #86C232;
  margin: 1rem 0; }
  .preferences-page .update-success-message.hide {
    display: none; }

.preferences-page .profile-section,
.preferences-page .notifications-section,
.preferences-page .billing-section,
.preferences-page .dashboards-section {
  background: #fff;
  padding: 2rem 1rem;
  border-bottom: 1px solid #ebebeb; }
  .preferences-page .profile-section .new-dashboard-link,
  .preferences-page .notifications-section .new-dashboard-link,
  .preferences-page .billing-section .new-dashboard-link,
  .preferences-page .dashboards-section .new-dashboard-link {
    margin-top: 2rem; }
  .preferences-page .profile-section a,
  .preferences-page .notifications-section a,
  .preferences-page .billing-section a,
  .preferences-page .dashboards-section a {
    text-decoration: underline; }

.preferences-page .details {
  padding: 2rem; }

.preferences-page .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .28571429rem; }
  .preferences-page .box .filter-card:first-child {
    border-top: none; }

.preferences-page .billing-section .box {
  padding: 1rem;
  list-style-type: none; }
  .preferences-page .billing-section .box span {
    margin: 10px;
    color: #6bac0f; }

.preferences-page .dashboard-item {
  position: relative; }
  .preferences-page .dashboard-item h3 {
    display: inline-block; }
  .preferences-page .dashboard-item h5 {
    margin: 0; }
  .preferences-page .dashboard-item.box {
    padding: 1rem;
    margin-bottom: 5px; }
  .preferences-page .dashboard-item .text-tiny {
    margin-bottom: 10px; }
  .preferences-page .dashboard-item button {
    color: #d72b3f;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #d72b3f;
    border-radius: .25rem;
    padding: 2px;
    font-size: .8rem; }

.preferences-page .no-dashboards-message {
  text-align: center; }
  .preferences-page .no-dashboards-message.hide {
    display: none; }

.preferences-page .logout-btn {
  margin: 2rem 0 3rem;
  cursor: pointer;
  font-weight: 600;
  color: #d72b3f;
  text-decoration: underline; }

@media (min-width: 768px) {
  .preferences-page .title {
    font-size: 2.5rem; } }
