@import '../../styles/_variables.scss';

.preferences-page {
    .user-photo {
        margin: auto;
    }
    .auth-layout {
        display: initial;

        .text-input {
            background-color: $lightGrey;
            border: 1px solid $grey;
            color: $black;

            &.protected {
                background: $darkGrey;
                color: $white;
            }
        }
    }

    .errors-container {
        margin: 1rem auto;
        width: 400px;
        text-align: left;
        
        li {
            span {
                color: $black;
            }
        }
    }

    .update-success-message {
        color: $primary;
        margin: 1rem 0;

        &.hide {
            display: none;
        }
    }

    .profile-section,
    .notifications-section,
    .billing-section,
    .dashboards-section {
        background: #fff;
        padding: 2rem 1rem;
        border-bottom: 1px solid $borderGrey;     
    
        .option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            padding: 0 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &:last-child {
                border-bottom: none;
            }

            .name {
                margin: 15px;
                margin-left: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            input {
                margin: 1px;
                margin: 13px 5px;
                margin-right: 15px;
            }
        }
        .new-dashboard-link {
            margin-top: 2rem;
        }

        a {
            text-decoration: underline;
        }
    }

    .details {
        padding: 2rem;
    }

    .box {
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: .28571429rem;  

        .filter-card:first-child {
            border-top: none;
        }
    }

    .billing-section {
        .box {
            padding: 1rem;
            list-style-type: none;

            span {
                margin: 10px;
                color: $secondary;
            }
        }
    }

    .dashboard-item {        
        position: relative;
        h3 {
            display: inline-block;
        }
        h5 {
            margin: 0;
        }
        &.box {
            padding: 1rem;
            margin-bottom: 5px;
        }
        .text-tiny {
            margin-bottom: 10px;
        }
        button {
            color: $error;
            position: absolute;
            top: 10px;
            right: 10px;
            border: 1px solid $error;
            border-radius: .25rem;
            padding: 2px;
            font-size: .8rem;
        }
    }
    
    .no-dashboards-message {
        text-align: center;
    
        &.hide {
            display: none;
        }
    }

    .logout-btn {
        margin: 2rem 0 3rem;
        cursor: pointer;
        font-weight: 600;
        color: $error;
        text-decoration: underline;
    }
    
    @media (min-width: 768px) {
        .title {
            font-size: 2.5rem;
        }
    }
}
