@import '../../styles/_variables.scss';

.profile-page {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // min-height: 100vh;

    .user-photo {
        margin: auto;
    }

    .profile-card {
        background: #fff;
        padding: 1rem;
        border-radius: .28571429rem;
        box-shadow: 0 1px 3px 0 $boxShadow, 0 0 0 1px $boxShadow;

        a {
            text-decoration: underline;
        }
    }

    .details {
        padding: 2rem;
    }
}