@import '../../styles/_variables.scss';

.profile-page {

    .user-photo {
        margin: auto;
    }

    .profile-card {
        background: #fff;
        padding: 1rem;
        border-radius: .28571429rem;
        box-shadow: 0 1px 3px 0 $boxShadow, 0 0 0 1px $boxShadow;

        a {
            text-decoration: underline;
        }
    }

    .follo

    .details {
        padding: 2rem;
    }
}